/* Se aplica a todas las vistas */
* {
    margin: 0;
}
h3 {
    cursor: default;
}

/* Encabezado de la página*/
header {
    display: flex;
    padding: 15px;
    background-color: #927bf7;
    flex-flow: row nowrap;
    align-items: center;
    height: 56px;
    width: 98%;
    position: fixed;
    z-index: 1;
}
    header > img {
        max-height: 100%;
    }
    header > div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
        header > div > div{
            width: 80px;
            height: 20px;
            background-color: crimson;
        }

/* Cuerpo de la página (en todas las vistas va a ser igual)*/
main {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
    width: 100%;
    height: 1000px;
    min-height: 1000px;
    position: relative;
    top: 86px;
}
    #menu {
        width: 400px;
        padding: 17px;
        box-sizing: border-box;
    }
        .botonesDelMenu {
            padding: 10px;
            background-color: #ccccf3;
            display: flex;
            align-items: center;
            padding-left: 18px;
            border-radius: 10px;
            transition: background-color .1s linear;
        }
        .botonesDelMenu:not(:first-child) {
           margin-top: 14px;
        }
        .botonesDelMenu:hover {
            background-color: #8680c8;
            transition: background-color .1s linear;
        } 
            .botonesDelMenu > img {
                margin-right: 11px;
                width: 28px;
            }
            .botonesDelMenu > h3 {
                display: inline-block;
                font-family: sans-serif;
                font-size: 18px;
            }
    #barraDeslizante {
        width: 5px;
        background-color: #808080c9;
        cursor: e-resize;
    }
    #vistaDeContenido {
        background-color: gold;
    }