/* Switch para cambiar la luminosidad de varios elementos de la página */
#contenedorDelSwitch {
    width: 85px;
    height: 32px;
    background-color: #3f51b5;
    border-radius: 106px;
    padding: 3px;
}
    #contenedorDelBoton, #contenedorDelFondo {
        height: 100%;
        width: 100%;
    }
    #contenedorDelBoton {
        display: flex;
        align-items: center;
        z-index: 1;
        position: relative;
        /* left: 57%; */
    }
        #botonDelSwitch {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90%;
            width: 33%;
            background-color: white;
            margin: 4px;
            border-radius: 94px;
        }
            #iconoDeEstadoDelSwitch {
                width: 67%;
                content: url("../imgs/icons/switch/icon-sol.svg");
            }
    #contenedorDelFondo {
        position: relative;
        top: -100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 7px;
        box-sizing: border-box;
    }
        #contenedorDelFondo > img {
            width: 29%;
        }
        #contenedorDelFondo > img:nth-child(1) {
            content: url("../imgs/icons/switch/icon-sol-blanco.svg");
        }
        #contenedorDelFondo > img:nth-child(2) {
            content: url("../imgs/icons/switch/icon-luna-blanco.svg");
        }